@import url(https://fonts.googleapis.com/css?family=Poiret+One);


.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
}

.centrado{
  position: absolute;
  top: 65%;
  left: 10%;
  transform: translate(-50%, -50%);
  font-size:3em;
font-weight: 400;
word-spacing: 5pt; 

}
.imagenFondo{
opacity: 0.3 !important;
z-index: -5;
}

.moverCursor{
  position: absolute;
  top: -40px !important;
  left: -10px;
background-color: #CCFF99;
border-radius: 50%;
  font-size: 45px !important;
}

 .escucharClick{
position:absolute;top: 0px;width: 100%;
height: 50px;

  }

.mensajeAprendida{
  position: absolute;
  background-color: white;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -10 !important;
}

.centrar{
margin:auto;
height: 200px;
width: 200px;
position: absolute;;
top:0;
bottom:0;
left:0;
right:0;
z-index: -10 !important;

}

li{
  font-weight: 300;
  letter-spacing: 2pt;      /* para separar entgre letras */
  word-spacing: 2pt;        /* para separacion entre palabras */  
  line-height: 20pt;        /* para la separacion entre lineas */ 
  text-indent: 10pt; 
  font-weight: 500 !important;
  font-size: 17px;
}
#deletrearPalabra {
  position: absolute;
  top: 25px;
  letter-spacing: 2pt;      /* para separar entgre letras */
  word-spacing: 5pt;        /* para separacion entre palabras */  
  line-height: 20pt;        /* para la separacion entre lineas */ 
  text-indent: 10pt; 
  font-weight: 300;
  font-size: 24px !important;
  opacity: 0.5 !important;

     /* para sangrias */ 
  } 


  #deletrearPalabra::first-letter{
    font-size: 2rem;
  }

body {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.moverPalabra{
  position: absolute !important;
  top: 20px;
  opacity: 0.2 !important;
  z-index: -1;
  
}
.tituloPrincipal{
  font-size:5em;
  font-weight: 400;
  word-spacing: 15pt; 
  text-transform: capitalize;
 
}

.subTitulo{
  font-size:5em;
  font-weight: 500;
  word-spacing: 15pt; 
  text-transform: capitalize;
 
}

.tituloPrincipal:hover{
  font-size:4em;

}
img.colorImagenVista{
  opacity: 0.3 !important;
  filter: brightness(1.1);
    mix-blend-mode: multiply;
}



.configuracion{

  position: absolute;
  top: 150px !important;
 padding-left: 30px ;
 z-index: 5 !important;
 opacity: 0.3;
}

.configuracionHover:hover {
  
  cursor: pointer;
  font-size: 6ch;
}


.aprendidaPosicion:hover {
  
  cursor: pointer;
  font-size: 3ch;
}
.salir{
  position: absolute;
  top: 20px;
  left: 20px;;
  z-index: 8;
}
.wave{
  animation: wave  ease-in-out 0.1s infinite alternate;
  /*
    float: left;
    margin: 5px;
   
    transform-origin: center -36px;
    z-index: 5;
    */
  }

  .wave:hover {
    animation-play-state: paused;
    cursor: pointer;
    font-size: 3ch;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
  }
  .cambiarColor:hover {
    color: #E91E63 !important;
  }

  img:hover{
  filter: saturate(70%) !important;
  }

  .imagenesPortada{
    z-index: 3;
    border-radius: 50% !important;
   /* -webkit-filter: grayscale(1);
  filter: grayscale(1);
  filter: hue-rotate(120deg);
  */
  filter: hue-rotate(60deg) brightness(140%);
  filter: saturate(30%);
  }

  .imagenesPortadaFondo{
    z-index: 3;
    opacity: 0.2;
  }



  @keyframes wave {
    0% { transform: rotate(10deg); }
    100% { transform: rotate(-10deg); }
  }



 

